<html ng-app="mainApp">
	<head>
	<title>Angular Setup</title>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="FormValidation.js"></script>
	<style>
		input.ng-dirty.ng-valid {
		background: #ddffdd;
		}
		input.ng-dirty.ng-invalid {
		background: #ffdddd;
		}
	</style>
	</head>
	
	<body ng-controller="mainController as main">
		<form name="userForm" novalidate>
			<table class="user-form">
				<tr>
					<td>First Name:</td>
					<td><input type="text" ng-model="main.user.firstName" required></td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td><input type="text" ng-model="main.user.lastName" required></td>
				</tr>
				<tr>
					<td>Phone (10 digits):</td>
					<td><input type="text" ng-model="main.user.phone" required ng-minlength="10"></td>
				</tr>
				<tr>
					<td>Email Address:</td>
					<td><input type="email" ng-model="main.user.email" required></td>
				</tr>
				<tr>
					<td>Zip Code:</td>
					<td><input type="text" ng-model="main.user.zip" required></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><button ng-click="main.submitForm(userForm)">Submit</button></td>
				</tr>
			</table>
		</form>
		<p>
			{{main.user}}
		</p>
	</body>
</html>